/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* GENERAL */
header{
    height: 100px;
    background-color: #C4C4C4;
}

.up-section{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
}

#logo{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
    float: left;
}

#nav-bar{
    width: 60%;
    height: 100%;
    background-color: aqua;
    float: left;
}

#log-in{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
    float: left;
}
/* HEADER */

/* MAIN */
.hero{
    height: 400px;
    background-color: #C4C4C4;
    position: relative;
}

.hero .c-hero {
    height: 300px;
    width: 70%;
    background-color: aqua;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.call-to-action{
    height: 50px;
    width: 200px;
    margin-right: 20px;
    background-color: blueviolet;
    position: absolute;
    bottom: 5%;
}

.c1{
    float: left;
    left: 20%;
}

.c2{
    float: left;
    right: 20%;
}

.info{
    background-color: red;
    height: 50vh;
    position: relative;
}

.container{
    width: 70%;
    height: 80%;
    background-color: aqua;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}